<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/profile.css">
<html>
<head>
  <title>User Profile</title>
</head>
<body>

  <div class="container">
    <div class="layer">
      <div class="function-list">
        <ul>
          <li>
            <img src="/img/Twitter-icon.svg">
          </li>
          <li>
            <div class="navi-item">
              <img src="/img/house-door.svg">
              <a href="main">Home</a>
            </div>
          </li>
          <li>
            <div class="navi-item">
              <img src="/img/sticky.svg">
              <a href="create">New Post</a>
            </div>
          </li>
          <li>
            <div class="navi-item">
              <img src="/img/person-circle.svg">
              <a href="profile">Profile</a>
          </div>
          </li>
          <li>
            <div class="navi-item">
              <img src="/img/search-heart.svg">
              <a href="ForUser">Discover</a>
            </div>
          </li>
          <li>
            <div class="navi-item">
              <img src="/img/box-arrow-left.svg">
              <a href="logout">Log out</a>
            </div>
          </li>
        </ul>
      </div>

    <div class="profile">
      <h2>User Profile</h2>
      <div class="user-profile">
      <p>Welcome, <%= user.username1 %>!</p>
      <p>Followers: <%= user.followers.length %></p>
      <p>Following: <%= user.following.length %></p>
  <!-- Display the list of followers -->
  <h2>Followers:</h2>
  <% if (user.followers.length > 0) { %>
    <ul>
      <% user.followers.forEach(follower => { %>
        <li><%= follower %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No followers</p>
  <% } %>
  
  <!-- Display the list of following -->
  <h2>Following:</h2>
  <% if (user.following.length > 0) { %>
    <ul>
      <% user.following.forEach(followingUser => { %>
        <li><%= followingUser%></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>Not following anyone</p>
  <% } %>
  </div>
  <h2>Edit Profile</h2>
<div class="edit-profile">
  <form id="edit-profile-form" action="/edit-profile" method="POST">
    <div class="input-wrap">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= user.username1 %>" required><br><br>
    </div>
    <div class="input-wrap">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    </div>
    <div class="input-wrap">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirmPassword"><br><br>
    </div>
    <button type="submit">Save Changes</button>
  </form>
</div>
<div class="posts">
      <h2>Posts and Reposts</h2>
      <% for (const post of posts) { %>
        <!-- Display the original post -->
        <div class="post">
          <h3><%= post.title %> @<%= post.username %></h3>
          <p><%= post.body %></p>
          <% if (post.image) { %>
            <% const base64Data = post.image.toString('base64'); %>
            <img src="data:image/png;base64,<%= base64Data %>" alt="Post image">
          <% } %><br>
          <p>Like Count: <%= post.likeCount %></p>
      
          <div class="comments">
            <h4>Comments:</h4>
            <% if (post.comments && post.comments.length > 0) { %>
              <% for (const comment of post.comments) { %>
                <div class="comment">
                  <p><%= comment.username %>: <%= comment.content %></p>
                </div>
              <% } %>
            <% } else { %>
              <p>No comments yet.</p>
            <% } %>
          </div>
      
          <form class="comment-form" action="/comment/<%= post._id %>" method="POST">
            <input type="text" name="comment" placeholder="Add a comment">
            <button type="submit">Submit</button>
          </form>
          <button form="delete-<%= post._id %>" type="submit">Delete</button>
          <form id="delete-<%= post._id %>" action="/delete/<%= post._id %>" method="POST"></form>
      
        </div>
        <% } %>
      
        <!-- Display the reposted posts -->
        <% for (const repost of reposts) { %>
      
            <div class="post repost">
              <h3>Reposted by <%= user.username %>: <%= repost.title %> @ <%= repost.username %></h3>
              <p>Content: <%= repost.body %></p>
              <% if (repost.image) { %>
                <% const base64Data = repost.image.toString('base64'); %>
                <img src="data:image/png;base64,<%= base64Data %>" alt="Repost image">
              <% } %><br>
              <p>Like Count: <%= repost.likeCount %></p>
      
              <div class="comments">
                <h4>Comments:</h4>
                <% if (repost.comments && repost.comments.length > 0) { %>
                  <% for (const comment of repost.comments) { %>
                    <div class="comment">
                      <p><%= comment.username %>: <%= comment.content %></p>
                    </div>
                  <% } %>
                <% } else { %>
                  <p>No comments yet.</p>
                <% } %>
              </div>

              <form class="comment-form" action="/comment/<%= repost._id %>" method="POST">
                <input type="text" name="comment" placeholder="Add a comment">
                <button type="submit">Submit</button>
              </form>
              <button form="delete-<%= repost._id %>" id="delete" type="submit">Delete</button>
              <form id="delete-<%= repost._id %>" action="/delete/<%= repost._id %>" method="POST"></form>
            </div>

        <% } %>
      </div>
          </div>
  </div>
</div>
</body>
</html>