<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
  display: flex;
}

.left {
  width: 40%;
  background-color: #ccc; /* Replace with your desired background color */
}

.right {
  width: 60%;
  background-color: #eee; /* Replace with your desired background color */
}

  </style>
  <title>User Profile</title>
</head>
<body>

  <div class="container">
    <div class="left">
      <h1>User Profile</h1>
  <p>Welcome, <%= user.username1 %>!</p>
  <p>Followers: <%= user.followers.length %></p>
  <p>Following: <%= user.following.length %></p>
  <!-- Display the list of followers -->
  <h2>Followers:</h2>
  <% if (user.followers.length > 0) { %>
    <ul>
      <% user.followers.forEach(follower => { %>
        <li><%= follower %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No followers</p>
  <% } %>
  
  <!-- Display the list of following -->
  <h2>Following:</h2>
  <% if (user.following.length > 0) { %>
    <ul>
      <% user.following.forEach(followingUser => { %>
        <li><%= followingUser%></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>Not following anyone</p>
  <% } %>

  

  <h2>Edit Profile</h2>
  <form id="edit-profile-form" action="/edit-profile" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= user.username1 %>" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirmPassword"><br><br>

    <button type="submit">Save Changes</button>
  </form>

  <br><button onclick="location.href='/main'">Go Back</button>


    </div>


    <div class="right">
      <h2>Posts and Reposts</h2>
      <% for (const post of posts) { %>
        <!-- Display the original post -->
        <div class="post">
          <h3><%= post.title %> @<%= post.username %></h3>
          <p><%= post.body %></p>
          <% if (post.image) { %>
            <% const base64Data = post.image.toString('base64'); %>
            <img src="data:image/png;base64,<%= base64Data %>" alt="Post image">
          <% } %><br>
          <p>Like Count: <%= post.likeCount %></p>
      
          <div class="comments">
            <h4>Comments:</h4>
            <% if (post.comments && post.comments.length > 0) { %>
              <% for (const comment of post.comments) { %>
                <div class="comment">
                  <p><%= comment.username %>: <%= comment.content %></p>
                </div>
              <% } %>
            <% } else { %>
              <p>No comments yet.</p>
            <% } %>
          </div>
      
          <form class="comment-form" action="/comment/<%= post._id %>" method="POST">
            <input type="text" name="comment" placeholder="Add a comment">
            <button type="submit">Submit</button>
          </form>
          <button form="delete-<%= post._id %>" type="submit">Delete</button>
          <form id="delete-<%= post._id %>" action="/delete/<%= post._id %>" method="POST"></form>
      
        </div>
        <% } %>
      
        <!-- Display the reposted posts -->
        <% for (const repost of reposts) { %>
      
            <div class="post repost">
              <h3>Reposted by <%= user.username %>: <%= repost.title %> @ <%= repost.username %></h3>
              <p>Content: <%= repost.body %></p>
              <% if (repost.image) { %>
                <% const base64Data = repost.image.toString('base64'); %>
                <img src="data:image/png;base64,<%= base64Data %>" alt="Repost image">
              <% } %><br>
              <p>Like Count: <%= repost.likeCount %></p>
      
              <div class="comments">
                <h4>Comments:</h4>
                <% if (repost.comments && repost.comments.length > 0) { %>
                  <% for (const comment of repost.comments) { %>
                    <div class="comment">
                      <p><%= comment.username %>: <%= comment.content %></p>
                    </div>
                  <% } %>
                <% } else { %>
                  <p>No comments yet.</p>
                <% } %>
              </div>
      
              <form class="comment-form" action="/comment/<%= repost._id %>" method="POST">
                <input type="text" name="comment" placeholder="Add a comment">
                <button type="submit">Submit</button>
              </form>
              <button form="delete-<%= repost._id %>" type="submit">Delete</button>
              <form id="delete-<%= repost._id %>" action="/delete/<%= repost._id %>" method="POST"></form>
            </div>
        <% } %>


    </div>
  </div>
  
</body>
</html>